* { margin: 0; padding: 0; }

						
						
                    
                        body {
							border-style: solid; 
							border-width: thin;
							border-color: black;
							margin: auto;
							background-image: url("../img/fondodiv.jpg");
                            -webkit-background-size: cover;                 
                            -moz-background-size: cover;                    
                            -o-background-size: cover;                  
                            background-size: cover;
						}
						
						
							
						
						nav {
							border-style: dotted; 
							border-width: thin;
							border-color: black;
							margin: 2%;   
							 font-family: fantasy;
							 font-size:xx-large;
							 background-color: aliceblue;
							 overflow: auto; 
							
						     }
						
							 
						 nav li {
						     display: inline; 
						     border-style:unset; 
							 border-width: thin; 
							 border-color: black;
							 }
							 
							 
							 nav ul {
								
								float: left; 
								margin-left: 30px; 
								margin-top: 30px; 
							 }

                             nav img {
                                left: 570px;
                                float: right;   
                                }
    
                        .boton{
                                text-decoration: none;
                                margin: 4%;
                                padding: 0.86850393700787%;;
                                font-weight: 500;
                                font-size: 90%;
                                color: #ffffff;
                                background-color: #abaaee;
                                border-radius: 6px;
                                border: 2px solid #a2a9dd;
                            }
                            
                        .boton:hover{
                                color: #8dcbeb;
                                background-color: #ffffff;
                                
                            }

                        nav li{
                                        
                                margin-right: 1,312335958005249%;
                                display: inline;
                            }
                        #menu1 img{
                                float: right;
                            }
                        #menu2{
                            display: none;
                        }
                            #Zure_Datuak {
                                border: 1px dotted black;
                                width: 350px;
                                margin-bottom: 2%;
                                } 
                            #Zure_Datuak td{
                                    padding: 1.96850393700787%;
                                }   
                                main table td{
                                    
                                    padding: 1.96850393700787%;
                                }
                                main h2,h3{
                                    width: 15%;
                                    margin: 1.9%;
                                
                                }
                            #Produktuak{
                                    border: 1px dotted black;
                                    width: 70%;
                                    margin-bottom: 2%;
                                    
                                } 
                                #Produktuak td{
                                padding: 1.96850393700787%;
                                }
                                main {
                                    width: 50%;
                                    margin: 2%;
                                    background-color: aliceblue;
                                }
                                main table {
                                    margin: 4%;
                                }
                            main div{
                                padding: 10%;
                                margin-top: 5%;
                            }   
                            


                            footer{
                                border-style: ridge;
                                padding: 1%;
                                width: 50%;
                                margin-left: 1%; 
                                margin-top: 2%;
                                margin-bottom: 2%;
                                background-color: aliceblue;
                                clear: both;
                                }
                                @media only screen and (max-width:755px) {
                                    #menu1{
                                        display: none;
                                    }

                                    #menu2{
                                        display: block;
                                    }
                                }